<div class="box-container">

  <div class="sign-in-page shadow-lg">

    <div class="sign-in-container">
      <p class="logo font-weight-bolder">C2C</p>
      <div class="form-container">
        <p class="header text-secondary">Welcome back!</p>
        <p class="login-prompt font-weight-bold">Login to your account</p>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="emailId">Email ID:</label><br>
            <input type="text" formControlName="emailId"><br>
            <span class="text-danger" *ngIf="!signInForm.get('emailId')?.valid && signInForm.get('emailId')?.touched">*Enter a valid Email ID</span>
          </div>
          <div>
            <label for="password">Password:</label><br>
            <input type="password" formControlName="password"><br>
            <span class="text-danger" *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched">*Enter your password</span>
          </div>
          <button type="submit" class="btn btn-primary submit" value="submit">Login</button><br>
        </form>
        <a class="text-dark create-account-link font-weight-bold" routerLink="/signUp">Create new account?</a>
      </div>
      <a class="forgot-password-link " href="">Forgot password?</a>
    </div>

    <app-carousel></app-carousel>

  </div>

</div>
