@import '../../styles.scss';

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @extend .bg-light-grey;

  .sign-in-page {
    width: 70%;
    min-height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    //box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    @extend .font-mulish;

    .sign-in-container {
      display: grid;
      width: 100%;
      grid-template-rows: 20% 60% 20%;
      //justify-content: center;
      align-items: center;

      p.logo {
        margin-left: 10%;
        @extend .text-x-large;
      }


      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
          @extend .text-small;
        }

        .login-prompt {
          @extend .text-large;
        }

        form {
          label {
            @extend .text-x-small, .text-grey;
          }

          button {
            border-radius: 45px;
            width: 100%;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            margin-top: 2rem;
            border: none;
            @extend .text-small, .bg-blue-purple;
          }

          button:hover {
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
          }

          button:active {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          }

          input {
            border: none;
            outline: none;
            border-bottom: 0.12rem solid rgb(102, 187, 187);
          }

          .input-group-text {
            border: none;
            outline: none;
            background-color: white;

            i {
              cursor: pointer;
            }
          }

          span {
            @extend .text-x-small;
          }
        }

        .create-account-link {
            margin-top: 1rem;
            cursor: pointer;
            @extend .text-small;
        }
      }
      .forgot-password-link {
        text-align: center;
        margin-top: 1rem;
        @extend .text-small, .text-grey;
      }

    }

  }

}







