@import "../../styles.scss";

.top-nav-container{
    background-color:#3646a6;
    color: white;
    @extend .text-small,.text-uppercase,.fixed-top;

    .top-nav{
        padding: 10px 70px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        @extend .border-bottom;

        .logo{
            margin-top:auto;
            margin-bottom: auto;
            font-size: 24px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .searchInput{
            width: 250px;
            background: none;
            border:1px solid red;
            color: white;
        }

        .searchInput::placeholder{
            color: white;
            padding: 10px;
        }

        .nav-items-container{
            display: flex;
            align-items: center;
            column-gap: 40px;

            .nav-item{
                display: flex;
                align-items: center;
                column-gap: 15px;

                img{
                    height: 20px;
                    width: 25px;
                }
            }
    
            .create-ad-nav-button{
                background-color: orange;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap:5px;
                border-radius: 5px;
                height: 45px;
                width: 140px;
                cursor: pointer;

                label{
                    @extend .text-small,.text-dark,.text-uppercase;
                    cursor: pointer;
                }
                
                .plus-icon{
                    @extend .text-x-large;
                    cursor: pointer;
                }
            }
    
            .my-profile-nav-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 5px;
    
                img{
                    height: 35px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
}