<div class="top-nav-container">
    <div class="top-nav">
        <div class="d-flex">
            <span class="logo">Peddler</span>
            <input placeholder="Search for items" class="searchInput" style="margin-left: 30px;">
        </div>
        <div class="nav-items-container">
            <div class="nav-item">
                <img src="../../assets/bookmark-icon-white.png">
                <label>saved ads</label>
            </div>
            <div class="create-ad-nav-button">
                <label class="plus-icon">+</label>
                <label>create ads</label>
            </div>
            <div class="my-profile-nav-item">
                <label>My Profile</label>
            </div>
        </div>
    </div>
</div>