@import '../../styles.scss';

.create-ad-page {
  @extend .font-mulish, .text-large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .main-header {
    @extend .text-x-large;
  }

  .choose-type-header {
    width: 100%;
    border-top: 1px solid grey;
    text-align: center;
    padding-top: 1rem;
  }

  .ad-type-buttons {
    // display: flex;
    justify-content: space-around;
    display: inline-flex;
    flex-wrap: wrap;
    width: 35%;
    margin-bottom: 1rem;

    .active {
      @extend .text-orange, .border-orange;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    button {
      @extend .text-grey, .border-grey;
      background: transparent;
      border-radius: 0%;
      border-width: 0.15rem;
      outline: none;
      box-shadow: none;
    }
    button:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      @extend .text-orange, .border-orange;
    }

    button:focus, button:active {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .enter-details-header {
    width: 100%;
    border-top: 1px solid grey;
    text-align: center;
    padding-top: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    .input-fields {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25%;
      margin-left: 3rem;
      padding-bottom: 2rem;

      label {
        @extend .text-small, .text-grey;
      }

      input, textarea {
        border: none;
        outline: none;
        border-bottom: 0.1rem solid rgb(160, 160, 160);
      }

      textarea::-webkit-scrollbar {
        width: 0.2rem;
      }

      textarea::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        @extend .bg-orange;
      }

      select {
        @extend input;
        width: 13.8rem;
      }

      span {
        @extend .text-x-small;
      }
    }

    .upload-images-header {
      width: 100%;
      border-top: 1px solid grey;
      text-align: center;
      padding-top: 1rem;
    }

    button {
      border-radius: 5px;
      // background-color:#ff8700;
      width: 20%;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      margin-top: 2rem;
      border: none;
      @extend .text-small, .bg-orange;
    }
    button:hover {
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    }

    button:active {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    span {
      @extend .text-x-small;
    }
  }
}
.create-ad-page::-webkit-scrollbar {
  width: 1px;
}
