<div class="ad-detail">
    <div class="ad-detail-container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li *ngIf="ad.img2Url!=null || ad.img3Url!=null" data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li *ngIf="ad.img2Url!=null" data-target="#myCarousel" data-slide-to="1"></li>
              <li *ngIf="ad.img3Url!=null" data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div *ngIf="ad.img1Url!=null" class="carousel-item active" data-interval="3500">
                <img src={{ad.img1Url}} alt="slide-1">
              </div>
              <div *ngIf="ad.img2Url!=null" class="carousel-item" data-interval="4000">
                <img src={{ad.img2Url}} alt="slide-2">
              </div>
              <div *ngIf="ad.img3Url!=null" class="carousel-item" data-interval="4000">
                <img src={{ad.img3Url}} alt="slide-3">
              </div>
            </div>
            <a *ngIf="ad.img2Url!=null || ad.img3Url!=null" href="#myCarousel" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a *ngIf="ad.img2Url!=null || ad.img3Url!=null" href="#myCarousel" class="carousel-control-next" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div class="ad-detail-sub-container">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <span class="item-price">₹ {{ad.initialPrice}}</span>
                <span class="item-name mt-1">{{ad.productName}}</span>
              </div>
              <svg (click)="saveAd(ad)" *ngIf="isLoggedIn && !isAdSaved(ad.adId)" width="24px" height="24px" viewBox="0 0 1024 1024" data-aut-id="icon" class="cursor-pointer" fill-rule="evenodd"><path class="rui-77aaa" d="M830.798 448.659l-318.798 389.915-317.828-388.693c-20.461-27.171-31.263-59.345-31.263-93.033 0-85.566 69.605-155.152 155.152-155.152 72.126 0 132.752 49.552 150.051 116.364h87.777c17.299-66.812 77.905-116.364 150.051-116.364 85.547 0 155.152 69.585 155.152 155.152 0 33.687-10.802 65.862-30.293 91.811zM705.939 124.121c-80.853 0-152.204 41.425-193.939 104.204-41.736-62.778-113.086-104.204-193.939-104.204-128.33 0-232.727 104.378-232.727 232.727 0 50.657 16.194 98.948 47.806 140.897l328.766 402.133h100.189l329.716-403.355c30.662-40.727 46.856-89.018 46.856-139.675 0-128.349-104.398-232.727-232.727-232.727z"></path></svg>
              <svg (click)="unSaveAd(ad.adId)" *ngIf="isLoggedIn && isAdSaved(ad.adId)" width="24px" height="24px" viewBox="0 0 1024 1024" data-aut-id="icon" class="cursor-pointer" fill-rule="evenodd"><path class="rui-77aaa" d="M705.941 124.121c-80.853 0-152.204 41.445-193.939 104.204-41.736-62.759-113.086-104.204-193.939-104.204-128.33 0-232.727 104.398-232.727 232.727 0 50.657 16.194 98.967 47.806 140.916l328.766 402.114h100.189l329.716-403.355c30.662-40.708 46.856-89.018 46.856-139.675 0-128.33-104.398-232.727-232.727-232.727z"></path></svg>
            </div>
            <span class="item-description mt-4 mb-1">{{ad.description}}</span>
            <div class="d-flex flex-column mt-4">
                <div class="d-flex justify-content-between">
                    <span class="text-dark" style="font-weight: 700;">Seller:</span>
                    <span class="text-darkgrey" style="margin-left: 5px;">{{seller.firstName+" "+seller.lastName}}</span>
                </div>
                <div class="d-flex mt-1 justify-content-between">
                    <span class="text-dark" style="font-weight: 700;">Brand Name:</span>
                    <span class="text-darkgrey" style="margin-left: 5px;">{{ad.brandName}}</span>
                </div>
                <div class="d-flex mt-1 justify-content-between">
                    <span class="text-dark" style="font-weight: 700;">Date Posted:</span>
                    <span class="text-darkgrey" style="margin-left: 5px;">{{ad.adCreated | date}}</span>
                </div>
                <div class="d-flex mt-1 justify-content-between">
                  <span class="text-dark" style="font-weight: 700;">Category:</span>
                  <span class="text-darkgrey" style="margin-left: 5px;">{{category.categoryName}}</span>
              </div>
            </div>
            <div class="mt-5 w-100 d-flex justify-content-between">
                <button class="btn-primary w-48">Buy now</button>
                <button class="btn-secondary w-48 ml-1">Chat with seller</button>
            </div>
        </div>
    </div>
</div>