/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

html,body{
    height: 100%;
    width: 100%;
}

*{
    font-family: 'Mulish', sans-serif;
}

.text-x-small{
    font-size: 12px;
}

.text-small{
    font-size: 14px;
}

.text-medium{
    font-size: 16px;
}

.text-large{
    font-size: 18px;
}

.text-x-large{
    font-size: 20px;
}

.text-darkgrey{
    color: #b6bcc5;
}

.ad{
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
    @extend .card;

    .item-photo{
      height: 180px;
      width: 100%;
    }

    .ad-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: white;

      .ad-details-container {
        display: flex;
        flex-direction: column;
        padding: 15px;

        .item-price {
          @extend .text-dark, .text-x-large;
          font: bold;
        }

        .item-name {
          @extend .text-darkgrey, .text-medium;
        }
      }

      img {
        padding-right: 15px;
      }
    }
  }